<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.1">

	<!-- Base Module Properties -->
	<id>register</id>
	<name>Register</name>
	<version>0.0.1</version>
	<package>org.openmrs.module.register</package>
	<author>ThoughtWorks</author>
	<description>
			Create registers for the healthcare program 
	</description>

	<activator>org.openmrs.module.register.RegisterModuleActivator</activator>

	<!-- <updateURL>https://dev.openmrs.org/modules/download/${moduleId}/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>1.6.0.11652</require_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.register.extension.html.AdminList</class>
	</extension>


	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>${modulePackage}.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->


	<!-- Required Privileges
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties
	<globalProperty>
		<property>${moduleId}.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->

	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="${modulePackage}.web.dwr.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import ${modulePackage}.web.dwr.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>
	</dwr>
	-->
                    `
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>${modulePackage}.web.servlet.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with ${moduleId}.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
    <mappingFiles>
        Register.hbm.xml
    </mappingFiles>

</module>

